<table>
<thead>
<tr>
    <th>song title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>delete</th>
</tr>
</thead>
<tbody>
<% @songs.each do |song| %>
<tr>
    <td><%= song.title %></td>
    <td><%= song.artist_name %></td>
    <td><%= song.genre %></td>
    <td><%= link_to("Delete", song_path(song), method: :delete, data: { confirm: "Are you sure?"}) %></td>
</tr>
<% end %>
</tbody>
</table>